.App {
  text-align: center;
}

.onboardContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.onboardButton {
  flex-grow: 1;
  background: #5C39E6;
  color: white;
  white-space: normal;
  vertical-align: middle;
  width: 20vw;
  height: 20vh;
  font-size: calc(0.9vw + 0.9vh);
}

.onboardButton + .onboardButton {
  margin-left: 2%;
}

.onboardTitle {
  height: 20%;
  padding-top: 50px;
}

.onboardBody {
  height: 20em;
  align-items: center
}

.onboardFooter {
  display: flex; 
  flex-direction: row; 
  justify-content: space-around;
  width: 80%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 4%;
}